:root {
  --main: #0d0d0d;
  --second: #ab05f2;
  --accent: #0cf2b1;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--main);
  color: white;
}

table {
  border-collapse: collapse;
  font-size: 1em;
}

td {
  padding: 0;
  margin: 0;
  width: 5em;
  height: 5em;
  text-align: center;
  border: 2px solid black;
  background-color: var(--second);
}

.basedebuild {
  width: 100%;
}
