:root {
  --main: #0d0d0d;
  --second: #ab05f2;
  --accent: #0cf2b1;
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--main);
  color: white;
}

.basedebuild {
  width: 100%;
}

header{
  background-color: var(--second);
  border-radius: 5px;
  margin: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > a{
  text-decoration: none;
  color: black;
}

#newbuild,
#updatebuild,
#deletebuild,
#searchbuild,
#newitem,
#updateitem,
#deleteitem,
#searchitem,
#deletesort {
  padding: 25px 0;
}

#newbuild .container,
#updatebuild .container,
#deletebuild .container,
#searchbuild .container,
#newitem .container,
#updateitem .container,
#deleteitem .container,
#deletesort .container,
#searchitem .container {
  max-width: 1100px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 30px 10px;
  border-radius: 15px;
  box-sizing: border-box;
}

#newbuild .container .title,
#updatebuild .container .title,
#deletebuild .container .title,
#searchbuild .container .title,
#newitem .container .title,
#update .container .title,
#deleteitem .container .title,
#deletesort .container .title,
#searchitem .container .title {
  font-size: 1.8em;
  text-align: center;
  margin-bottom: 50px;
}

#newbuild .container form,
#updatebuild .container form,
#deletebuild .container form,
#searchbuild .container form,
#newitem .container form,
#updateitem .container form,
#deleteitem .container form,
#deletesort .container form,
#searchitem .container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
}

#newbuild .container form .nom input,
#deletebuild .container form .nom input,
#searchbuild .container form .nom input,
#newbuild .container form .creat input,
#updatebuild .container form .creat input,
#deletebuild .container form .delete input,
#searchbuild .container form .search input,
#newitem .container form .nom input,
#newitem .container form .create input,
#updateitem .container form .update input,
#deleteitem .container form .nom input,
#deleteitem .container form .delete input,
#deletesort .container form .nom input,
#deletesort .container form .delete input,
#searchitem .container form .nom input,
#searchitem .container form .search input {
  width: 100%;
  margin: 5px;
  padding: 5px;
}

#newbuild .container form .fondament input,
#updatebuild .container form .fondament input {
  width: 25%;
  margin: 5px;
  padding: 5px;
}

#newbuild .container form .second input,
#updatebuild .container form .idnom input,
#updatebuild .container form .second input,
#newitem .container form .core input,
#updateitem .container form .idnom input,
#updateitem .container form .core input {
  width: 50%;
  margin: 5px;
  padding: 5px;
}

#newbuild .container form .ajust input,
#updatebuild .container form .ajust input,
#newitem .container form .start input,
#newitem .container form .option input,
#updateitem .container form .start input,
#updateitem .container form .option input {
  width: 33%;
  margin: 5px;
  padding: 5px;
}

#newbuild .container form div,
#updatebuild .container form div,
#deletebuild .container form div,
#searchbuild .container form div,
#newitem .container form div,
#updateitem .container form div,
#deleteitem .container form div,
#searchitem .container form div {
  margin: 10px 0;
  padding: 10px;
  border: none;
  outline: none;
  border-bottom: 2px solid #ab05f2;
  transition: 0.2s;
}

#newbuild .container form .nom,
#newbuild .container form .fondament,
#newbuild .container form .second,
#newbuild .container form .ajust,
#newbuild .container form .creat,
#updatebuild .container form .idnom,
#deletebuild .container form .nom,
#searchbuild .container form .nom,
#updatebuild .container form .fondament,
#updatebuild .container form .second,
#updatebuild .container form .ajust,
#updatebuild .container form .creat,
#deletebuild .container form .delete,
#searchbuild .container form .search,
#newitem .container form .nom,
#newitem .container form .core,
#newitem .container form .start,
#newitem .container form .option,
#newitem .container form .create,
#updateitem .container form .idnom,
#updateitem .container form .start,
#updateitem .container form .core,
#updateitem .container form .option,
#updateitem .container form .update,
#deleteitem .container form .nom,
#deleteitem .container form .delete,
#searchitem .container form .nom,
#searchitem .container form .search {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table {
  width: 95%;
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 25px;
  background-color: #333333;
}

th,
td {
  padding: 10px;
  text-align: left;
  border: solid 2px var(--second);
}

th {
  background-color: #181818;
  color: white;
}

tr:nth-child(odd) {
  background-color: #505050;
}

@media only screen and (max-width: 840px) {
  table,
  thead,
  tbody,
  tr,
  th,
  td {
    display: block;
  }

  table {
    background-color: var(--main);
  }

  thead {
    display: none;
  }

  td {
    padding-left: 220px;
    position: relative;
    background-color: #505050;
  }

  td:nth-child(odd) {
    background-color: #909090;
  }

  td:nth-child(event) {
    background-color: #505050;
  }

  td::before {
    padding: 10px;
    content: attr(data-label);
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    bottom: 0;
    background-color: var(--main);
    color: white;
    display: flex;
    align-items: center;
  }

  tr {
    margin-bottom: 1rem;
  }
}

#tabitem table,
#tabitem thead,
#tabitem tbody,
#tabitem tr,
#tabitem th,
#tabitem td {
  display: block;
}

#tabitem table {
  background-color: var(--main);
}

#tabitem thead {
  display: none;
}

#tabitem td {
  padding-left: 220px;
  position: relative;
  background-color: #505050;
}

#tabitem td:nth-child(odd) {
  background-color: #909090;
}

#tabitem td:nth-child(event) {
  background-color: #505050;
}

#tabitem td::before {
  padding: 10px;
  content: attr(data-label);
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  bottom: 0;
  background-color: var(--main);
  color: white;
  display: flex;
  align-items: center;
}

#tabitem tr {
  margin-bottom: 1rem;
}


